@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    background-image: url("pinkdot.png");
    background-color: whitesmoke;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family:'Lato', sans-serif;
 
   }



.container{
    width : 30%;
    min-width : 370px;   
    position : relative;
    justify-self : center;
    padding: 1% 2% 2% 2%;
    
    margin-top : 1%;
    margin-bottom : 1%;

    background-color:rgba(245, 245, 245, 0.4);
    border-radius : 10px;
    border: 1px darksalmon dashed;
}


.greeting_space{
    width : 100%;
    min-width : 370px;
    justify-content : center;
}


/*Header Text*/
.greeting{
    font-size: 70px;
    color: burlywood;
    font-family : 'arial';
    
    
    margin-top : 5%;
    display : flex;
    justify-content:center;
}

/*Header Animation*/
.w {
    animation: bounce 1.5s ease infinite;
    -webkit-animation: bounce 1.5s ease infinite;
   
}
  
.e1 {
    animation: bounce 1.5s ease infinite .1s;
    -webkit-animation: bounce 1.5s ease infinite .1s;

}
  
.l {
    animation: bounce 1.5s ease infinite .2s;
    -webkit-animation: bounce 1.5s ease infinite .2s;
  
}
 
.c {
    animation: bounce 1.5s ease infinite .3s;
    -webkit-animation: bounce 1.5s ease infinite .3s;

}
  
.o {
    animation: bounce 1.5s ease infinite .45s;
    -webkit-animation: bounce 1.5s ease infinite .45s;
 
}
  
.m {
    animation: bounce 1.5s ease infinite .6s;
   -webkit-animation: bounce 1.5s ease infinite .6s;
 
}

.e2 {
    animation: bounce 1.5s ease infinite .75s;
   -webkit-animation: bounce 1.5s ease infinite .75s;

}

@keyframes bounce {
    0%   { transform:  translateY(0); }
    17%  { transform:  translateY(0); }
    34%  { transform:    translateY(0);}
    50%  { transform:  translateY(-13px); }
    67%  { transform:  translateY(0); }
    84%  { transform:  translateY(-2px);}
    100% { transform:  translateY(0);}
}

@-webkit-keyframes bounce {
    0%   { transform:  translateY(0); }
    17%  { transform:  translateY(0); }
    34%  { transform:    translateY(0);}
    50%  { transform:  translateY(-13px); }
    67%  { transform:  translateY(0);}
    84%  { transform:  translateY(-2px);}
    100% { transform:  translateY(0);} 
}



h2{
    font-size: 30px;
    color: burlywood;
    position : relative;
}

.project{
    margin : 2% 2% 2% 2%;
    
}

.project_name {
    font-size:20px;
    
    color: palevioletred;
}

.project_name :hover{
    font-weight:bold;
    color: rgb(167, 109, 128);
}

.project_desc{
    color : rgb(63, 63, 63);
    font-size : 15px;
  
    margin-top: 1%;
}

a{
    color:palevioletred;
    text-decoration: none;
}



footer {
    position : fixed;
    bottom: 0px;
    width: 99%;
    min-width : 450px;
    height: 7%;
    color:rgb(196, 163, 121);
    justify-content: center;
    justify-self : center;

    background-image: url("doughnut.png");
    background-color: whitesmoke;
    background-repeat: repeat;
  }

.content {
    margin-bottom : 15%;
}
