body{
    background-color : white;
    background-image : url("106.png");
    background-repeat : repeat;
    

}

.middle {
    background-image : url("107.png");
    z-index : 1;
    width : 35%;
    min-width : 300px;
    min-height : 99%;
    height : 100%;
    top : 0%;
    bottom : 0%;
    position : absolute;
    left : 50%;
    margin-right : 50%;
    transform: translate(-50%, 0%);
    justify-items : center;
    align-items : center;

}

.inputspace{
    display : grid;
    grid-template-rows : repeat(2, 50%);
    top : 15%;
    width : 30%;
    max-width : 600px;
    min-width :280px;
    height :20%;
    position : relative;
    z-index : 3;

}

#yourguess{
    font-size : 30px;
    font-family : arial;
    text-align : left;
    color : rgb(100,100,100);
    
}

#getInput{
    display : flex;
    margin-top : 10px;
    vertical-align : center;
  
}

#myInput {
    text-align : center;
    text-transform : uppercase;
    letter-spacing : 0.5em;
    font-size : 35px;
    width : 80%;
    height : 95%;
    margin-right : 10px;
    background-color : rgba(0,0,0,0);
    color : rgb(100,100,100);
    outline : none;
    padding-left : 10px;
    padding-right : 10px;
}

#myButton{
   border-radius : 50%;
   width: 15%;
   height : auto;
   background-color: rgba(200,200,200,0.4);
   
}



#board {
    display : grid;
    grid-template-rows : repeat(6,20%);
    height : 50%;
    max-height : 600px;
    width : 30%;
    max-width : 600px;
    min-width :280px;
    position: relative;
    top: 27%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index : 3;
}

.row {
    display :grid;
    grid-template-columns: repeat(5,20%);
}

.tile {
    background-color : rgba(179, 187, 229, 0.8);
    width : 95%;
    height : 95%;
    display : grid;
    justify-items : center;
    align-items : center;
}

.alp {
    font-family : serif;
    color : white;
    text-transform : uppercase;
    font-size : 50px;
}

.modal{
    position : fixed;
    top : 30%;
    left : 50%;
    transform : translate(-50%, -50%);
    display : none;
    max-width : 80%;
    width : 300px;
    padding : 20px 20px 20px 20px;

    z-index : 10;
    background-color : beige;
    border : 1px dashed palevioletred;
    border-radius : 10px;
    

}

#modaltxt{
    color : black;
}


#back, #more {
    margin: 5px 5px 5px 5px;

}

footer{
    bottom :10px;
    font-size : 12px;
    font-family : arial;
    color : burlywood;
    z-index : 4;
    width : 30%;
    left : 35%;
    right : 35%;
    position : absolute;
  
    
}

a{
    color : palevioletred;
}

#overlay{
    background-color : rgba(0,0,0,0.5);
    position : fixed;
    top : 0;
    left : 0;
    bottom :0;
    right : 0;
    z-index : 8;
    display: none;

}
